* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    ---color1: rgb(135, 6, 49);
    ---color2: rgb(89, 4, 4);
    ---color3:  rgb(58, 3, 3);
    ---color4:  #9f0303;
    ---color5: #F10715;
    ---color6: #5c0404;
    ---color7: white;
    ---color8:#DF0022;
    ---color9: #89071b;

}

body {
    background-color: white;
}

html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
