@media (min-width: 280px) and (max-width: 400px) {
    
    header {
        padding: 1rem;
        background-color: black;
        text-align: center;
        position: fixed;
        top: 0rem;
        width: 100%;
        z-index: 2;

        display: flex;
        justify-content: space-around;
        font-family: 'Great Vibes', cursive;
    }

    header p {
        text-align: center;
        color: white;
        font-size: 1.6rem;
        font-family: 'EB Garamond', sans-serif;

        max-width: 25%;
    }
    p:hover{
        color: var(---color2);
    }

    header img {
        height: 3rem;
    }

}

@media (min-width: 401px) and (max-width: 1400px) {
    
    header {
        padding: 1rem;
        background-color: black;
        text-align: center;
        position:fixed;
        top: 0rem;
        width: 100%;
        z-index: 2;

        display: flex;
        justify-content: space-around;
        font-family: 'Great Vibes', cursive;
    }

    header p {
        text-align: center;
        color: white;
        font-size: 2rem;
        font-family: 'EB Garamond', sans-serif;

        max-width: 25%;
    }
    p:hover{
        color: var(---color6);
    }

    header img {
        height: 3rem;
    }
   
}