body {
    background-color: black;
}

main a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
main a img {
    margin-top: 15rem;
    height: 5rem;
}

